<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API Listing</title>
    <style>
        b {
            color: blue
        }

        h1,
        h3 {
            text-align: center
        }
    </style>
</head>

<body>
    <h1 style="color:blue">List of API Endpoints</h1>
    <br>
    <h3 style="color:blue">Topics</h3>
    <h4>/api/topics</h4>
    <p>A GET request to
        <b>/api/topics</b> will list all topics.</p>
    <br>
    <h4>/api/topics/:topic_id/articles</h4>
    <p>A GET request to
        <b>/api/topics/:topic_id/articles</b> will list all articles associated to that topic_id.</p>
    <p>A POST request to
        <b>/api/topics/:topic_id/articles</b> will add a new article to a topic. It requires a JSON body with title and a body
        key value pairs.</p>
    <br>
    <h3 style="color:blue">Articles</h3>
    <h4>/api/articles</h4>
    <p>A GET request to
        <b>/api/articles</b> will list all articles.</p>
    <br>
    <h4>/api/articles/:article_id</h4>
    <p>A GET request to
        <b>/api/articles/:article_id</b> will list the article associated with that article_id.</p>
    <p>A PUT request with a query of
        <b>?vote=</b> to
        <b>/api/articles/:article_id</b> will add one vote to the article if the query is ?vote=up or will remove one vote if
        the query is ?vote=down, otherwise the votes will stay the same.</p>
    <br>
    <h4>api/articles/:article_id/comments</h4>
    <p>A GET request to
        <b>/api/articles/:article_id/comments</b> will list all the comments associated with that article_id.</p>
    <p>A POST request to
        <b>/api/articles/:article_id/comments</b> will post a comment on the article associted with that article_id. It requires
        a JSON body with a comment key and value pair.</p>
    <br>
    <h3 style="color:blue">Comments</h3>
    <h4>/api/comments/:comment_id</h4>
    <p>A PUT request with a query of
        <b>?vote=</b> to
        <b>/api/comments/:comment_id</b> will add one vote to the comment if the query is ?vote=up or will remove one vote if
        the query is ?vote=down, otherwise the votes will stay the same.</p>
    <p>A DELETE request to
        <b>/api/comments/:comment_id</b> will delete the comment associted to that comment_id if it is valid.</p>
    <br>
    <h3 style="color:blue">Users</h3>
    <h4>/api/users/:username</h4>
    <p>A GET request to
        <b>/api/users/:username</b> will return the user associated with that username</p>
</body>

</html>